.add-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.form-control {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.7);
  color: #f8f9fa;
  margin-right: 10px;
  border-radius: 6px;
  height: 40px;
  font-size: 15px;
  padding: 0 10px;
  border: 0px;
}
