.task-list {
  padding: 0;
  margin: 35px 0;
}

.task-list-item {
  color: #ffffff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0 5px 0;
  border-radius: 5px;
  cursor: pointer;
}

.tast-item-favorites {
  border: 1px solid rgba(243, 207, 4, 0.7);
}

.task-completed {
  color: #757575;
}

.task-completed button:first-child {
  visibility: hidden;
}

.task-completed button {
  color: #9e9e9e;
  border: 1px solid #757575;
}

.task-list li:hover {
  background-color: rgb(75, 75, 75);
}

.task-separator {
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgb(75, 75, 75);
  margin: 0 auto;
}
